/* svg {background-color: aliceblue} */

.grid line {
  stroke: lightgrey;
  stroke-opacity: 1.0;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.timelineLable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: red;
}

/* .area {
  fill: lightpink;
  stroke-width: 0;
} */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}